<!DOCTYPE html>
<html Lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>packages</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="{% url 'index' %}">HOME</a>
            <a class="active" href="{% url 'packages' %}">PACKAGES</a>
            <a href="{% url 'about' %}">ABOUT</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="container" id="leon-bg">
            
            <div class="free-day"><h1>START YOUR FREE 7 DAY TRIAL</h1></div>
                
            <div class="packages-imgtxt">
                <div class="packages-div">
                    <h1>TRAINING</h1>
                    <h5>- ROOKIE PASS (2 FOR 1) <br>
                        <br>
                        - SINGLE CLASS PASS <br>
                        <br>
                        - 5 CLASS PASS <br>
                        <br>
                        - 10 CLASS PASS <br>
                        <br>
                        - MVP SINGLE CLASS PASS</h5>
                </div>

                <div class="packages-div">
                    <h1>RECOVERY</h1>
                    <h5>- ROOKIE PASS (2 FOR 1) <br>
                        <br>
                        - SINGLE CLASS PASS <br>
                        <br>
                        - 5 CLASS PASS <br>
                        <br>
                        - 10 CLASS PASS <br>
                        <br>
                        - MVP SINGLE CLASS PASS</h5>
                </div>

                <div class="packages-div">
                    <h1>NUTRITION</h1>
                    <h5>- ROOKIE PASS (2 FOR 1) <br>
                        <br>
                        - SINGLE CLASS PASS <br>
                        <br>
                        - 5 CLASS PASS <br>
                        <br>
                        - 10 CLASS PASS <br>
                        <br>
                        - MVP SINGLE CLASS PASS</h5>
                </div>
            </div>
        </div>
       
            
            <footer>
                <p>2020 FIT 4 LIFE. ALL RIGHTS RESERVED. DESIGN BY ISMET NASIĆ &copy;</p>
            </footer>
    </body>
    <script src="/static/js/navbar.js"></script>
</html>